.store-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

.store-product {
    display: flex;
    flex-direction: column;
    margin: 0.75rem;
}

.store-product figure {
    cursor: pointer;
}

.store-product-img-second {
    width: 280px;
    height: 350px;
    background-color: #b2b2b2;
}

.store-product-img{
    width: 280px;
    height: 350px;
    background-color: #e2e2e2;
}

.store-product-container-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.store-product-container-name p {
    color: #8c8c8c;
}

.store-product-container-name .ion-icon {
    color: #8c8c8c;
    font-size: 24px;
}

.store-product-price {
    color: #393939;
    width: 90px;
}

.store-product-view-detail {
    color: #dc9814;
    width: 90px;
    text-decoration: underline;
}

.store-product-add-favorites .ion-icon:hover {
    color: #dc9814;
}

@media (max-width: 567px) {
    .store-product-img{
        width: 160px;
        height: 200px;
    }

    .store-product-img-second {
        width: 160px;
        height: 200px;
    }
}