<app-header></app-header>

<div class="store-products-container">
    <div class="store-product" *ngFor="let item of [1,2,3,4,5,6,7,8]">
        <figure *ngIf="focusPhotoInProductId !== item" (focus)="focusPhotoInProductId = item" (mouseenter)="focusPhotoInProductId=item" (mouseleave)="focusPhotoInProductId=null" class="animated" [ngClass]="{'fadeIn': focusPhotoInProductId !== item}" (click)="viewDetailProduct(item)">
            <div class="store-product-img"></div>
        </figure>
        <figure *ngIf="focusPhotoInProductId === item" (mouseleave)="focusPhotoInProductId = null" class="animated" [ngClass]="{'fadeIn': focusPhotoInProductId === item}" (click)="viewDetailProduct(item)">
            <div class="store-product-img-second"></div>
        </figure>
        <div class="store-product-container-name">
            <a (click)="viewDetailProduct(item)">Product Name</a>
            <a class="store-product-add-favorites">
                <span>
                    <i class="ion-icon ion-ios-heart-empty"></i>
                </span>
            </a>
        </div>
        <a *ngIf="focusPriceInProductId !== item" (focus)="focusPriceInProductId = item" (mouseenter)="focusPriceInProductId=item" (mouseleave)="focusPriceInProductId=null" class="store-product-price animated" [ngClass]="{'fadeIn': focusPriceInProductId !== item}">
            $0.000
        </a> 
        <a *ngIf="focusPriceInProductId === item" (mouseleave)="focusPriceInProductId = null" class="store-product-view-detail animated" [ngClass]="{'fadeIn': focusPriceInProductId === item}" (click)="viewDetailProduct(item)">
            ver detalle
        </a>        
    </div>
</div>