<app-header></app-header>

<div class="product-container">
    <div class="product-container-photos">
        <div class="product-container-thumbnail">
            <a>
                <figure>
                    <div class="store-product-img"></div>
                </figure>
            </a>
            <a>
                <figure>
                    <div class="store-product-img-second"></div>
                </figure>
            </a>            
        </div>
        <div class="product-container-photo">
            <div class="store-product-img"></div>
        </div>
    </div>
    <div class="product-container-data">

    </div>
</div>