.product-container {
    margin-top: 80px;
    display: flex;
}

.product-container-photos {
    display: flex;
    margin: 0.75rem;
}

.product-container-thumbnail {
    display: flex;
    flex-direction: column;
    width: 84px
}

.product-container-thumbnail figure {
    margin-bottom: 0.75rem;
}
.store-product-img {
    width: 60px;
    height: 60px;
    background-color: #e2e2e2;
}

.product-container-photo .store-product-img {
    width: 560px;
    height: 700px;
    background-color: #e2e2e2;
}


.store-product-img-second {
    width: 60px;
    height: 60px;
    background-color: #b2b2b2;
}

.product-container-photo .store-product-img-second {
    width: 560px;
    height: 700px;
    background-color: #b2b2b2;
}

.product-container-data {
    display: flex;
    margin: 0.75rem;
}