@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700');

body, p, span, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Muli', sans-serif;
    margin: 0;
    font-weight: 300;
    color: #707070;
}

body{
    background-color: #fcfcfc;
}

figure {
    margin: 0;
}

a {
    cursor: pointer;
}

.ion-icon {
    font-size: 32px;
}

