<header class="header-customer">
    <div class="header-customer-content">
        <a class="header-customer-menu">
            <span>
                <i class="ion-icon ion-ios-menu"></i>
            </span>        
        </a>
        <p class="header-customer-title">{{title}}</p>
        <a class="header-cart">
            <span>
                <i class="ion-icon ion-ios-cart"></i>
            </span>
            <p>0</p>
        </a>
    </div>
</header>
