.header-customer {    
    height: 60px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    background-color: #fcfcfc;
    z-index: 99;
}

.header-customer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    margin: 0 0.75rem;
}

.header-customer-title{
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 200;
    letter-spacing: 0.25rem;
}

.header-cart {
    display: flex;
}

.header-cart p {
    color: #dc9814;
}